*{
    font-family: 'Rubik', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    margin: 0px;
    box-sizing: border-box;
    padding-left:50px ;
    padding-right: 50px;
    
    
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    position: fixed;
    background-color: white;
    

}

.logo-image{
    height:30px;
    width:100px;
    padding-left: 10px;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    padding-left:650px ;
    padding-right: 30px;

}

.nav-item{
    list-style: none;
}

a{
    color:#212832;
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    transition: 1s;

}
a:hover{
    transform: scale(1.0);
    text-decoration: underline;
    color: #212832;
}
.travel-image{
    height: 500px;
    padding-top: 50px;
}
.home-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    
}
.heading{
    color: #DF6951;
    font-family: sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
}
.travel-heading{
    font-family: "Bree-serif";
    color: #181E4B;
    font-size: 45px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 15px;
}
.travel-discription{
    font-size: 15px;
    font-weight: 500;
    color: #5E6282;
    font-family: sans-serif;
    padding-bottom: 15px;
}
.find-out-more-btn{
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.category-heading{
    color:#5E6282;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.services-heading{
    color: #14183E;
    font-size: 25px;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
    
}
.services-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 20px;
}
.services{
    border-radius: 8px;
    padding: 20px;
    background-color: cornsilk;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.services:hover{
    transform: scale(1.2);

}
.flight-image{
    height: 100px;
    padding-bottom: 25px;

}

.flight-heading{
    color:#1E1D4C;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    padding-bottom: 5px;
}

.desc{
    color: grey;
    font-size: small;
}
.destination-heading{
    color: #14183E;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 0px;
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.trips-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.destination-item{
    min-height: 250px;
    width: 200px;
    padding: 10px;
    margin: 20px;
    background: #FFF1DA;
    transition: 2s;
    border-radius: 10px;
}
.destination-item:hover{
    transform: scale(1.3);
}
.destination-image{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-bottom: 25px;
}

.destination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}
.trip{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.country{
    color: #5E6282;
    font-size: 15px;
    padding-bottom: 8px;
}
.trip-duration{
    color: #5E6282;
    font-size: 15px;
}
.social-media-description{
    color: #14183E;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;

      
}
.media-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.media-icon{
    transition: 2s;
}
.media-icon:hover{
    transform: scale(1.3);
}

.packages-heading{
    text-align: center;
    color: #14183E;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 0px;
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.packages-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.packages-desc{
    background-color: #FFF1DA;
    margin: 15px;
    border-radius: 8px;
    transition: 2s;
    
}
.packages-desc:hover{
    transform: scale(1.3);
}

.packages-images{
    height: 170px;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
}

.coutry-name-package{
    color: gray;
    text-align: center;
    padding-bottom: 5px;
}

.hr-line{
    width:50px;
}

.social-media-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-top: 50px;
}

.media-desc-container{
    padding: 40px;
}

.contact-headings{
    padding-bottom: 10px;
}

.contact-desc{
    padding-top: 10px;
}

.connect-icons{
    padding-top: 10px;
    padding-bottom: 25px;

}